<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="01cdede6-ad65-4071-b9a8-8f8de7b754c3"
            Publisher="CN=Ryan"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>AppMobiWindows8BlankTemplate</DisplayName>
    <PublisherDisplayName>Ryan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="AppMobiWindows8BlankTemplate.App">
        <VisualElements
            DisplayName="AppMobiWindows8BlankTemplate"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="AppMobiWindows8BlankTemplate"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>